In [1]:
import pandas as pd

In [2]:
products = pd.read_csv('products.csv')
products = products.iloc[:,1:]
products.columns

Index(['_SHEET_TYPE', 'BASECURVE', 'EURORETAILPRICE', 'RELEASEDATE',
       'PROTOTYPECODE', 'GENDER', 'FRAMECONSTRUCTION', 'SUNOPTICAL', 'SIZES',
       'FIT', '_BRAND', 'MATERIALCODE1', 'BRAND', 'RXABLE', 'MATERIALCODE2',
       'COLORCODE', 'COLORDESCRIPTION', 'MADEIN', 'USWHOLESALEPRICE',
       'EUROWHOLESALEPRICE', 'MATERIALNUMBER', 'RECOMMENDEDREASONS',
       'USRETAILPRICE', 'FAMILY', 'FRAMESHAPE', 'NOTES', 'Color_Base',
       'Color_Finish', 'Is_Multicolor'],
      dtype='object')

In [17]:
#make value style consistent with training date

products.loc[
    products["FRAMESHAPE"].str.contains("RECTANGLE"),
    "FRAMESHAPE"
] = "Rectangle"

products.loc[
    products["FRAMESHAPE"].str.contains("CAT EYE"),
    "FRAMESHAPE"
] = "Cat-Eye"

products.loc[
    ~ products["MATERIALCODE1"].str.contains("METAL"),
    "MATERIALCODE1"
] = "Plastic"

products.loc[
    products["MATERIALCODE1"].str.contains("REC METAL-STAINLESS"),
    "MATERIALCODE1"
] = "Metal"

products.loc[
    products["FRAMECONSTRUCTION"].str.contains("Full rim"),
    "FRAMECONSTRUCTION"
] = "Full"

products.loc[
    products["FRAMECONSTRUCTION"].str.contains("Semi-rimless"),
    "FRAMECONSTRUCTION"
] = "Half"

In [18]:
products['SUNOPTICAL'] = products['SUNOPTICAL'].str.capitalize()
products['MATERIALCODE1'] = products['MATERIALCODE1'].str.capitalize()
products['FRAMECONSTRUCTION'] = products['FRAMECONSTRUCTION'].str.capitalize()
products['FRAMESHAPE'] = products['FRAMESHAPE'].str.capitalize()

In [19]:
products['Date'] = products['RELEASEDATE'].str.split().str[-1]
products['Date'] = pd.to_datetime(products['Date'])

In [20]:
products.shape

(316, 38)

In [21]:
trends = pd.read_csv('opticalsun_googletrends.csv')
trends['Date'] = pd.to_datetime(trends['Time'])
products = products.merge(trends[['Date','Glasses_3m_avg','Sunglasses_3m_avg']],on='Date',how='left')

In [22]:
trends = pd.read_csv('VSP Vision Datasets/google trends/acetate_frames.csv')
trends['Date'] = pd.to_datetime(trends['Time'])
products = products.merge(trends[['Date','acetate frame glasses']],on='Date',how='left')

In [23]:
trends = pd.read_csv('VSP Vision Datasets/google trends/calvin_klien_frames.csv')
trends['Date'] = pd.to_datetime(trends['Time'])
products = products.merge(trends[['Date','Calvin Klein frames']],on='Date',how='left')

In [24]:
trends = pd.read_csv('VSP Vision Datasets/google trends/fsa_glasses.csv')
trends['Date'] = pd.to_datetime(trends['Time'])
products = products.merge(trends[['Date','FSA glasses']],on='Date',how='left')

In [25]:
trends = pd.read_csv('VSP Vision Datasets/google trends/lascost_frames_last5years.csv')
trends['Date'] = pd.to_datetime(trends['Time'])
products = products.merge(trends[['Date','Lacoste frames']],on='Date',how='left')

In [26]:
trends = pd.read_csv('VSP Vision Datasets/google trends/metal_frames.csv')
trends['Date'] = pd.to_datetime(trends['Time'])
products = products.merge(trends[['Date','metal frame glasses']],on='Date',how='left')

In [27]:
trends = pd.read_csv('VSP Vision Datasets/google trends/Nike_frames_last5years.csv')
trends['Date'] = pd.to_datetime(trends['Time'])
products = products.merge(trends[['Date','Nike frames']],on='Date',how='left')

In [28]:
products.head(5)

,_SHEET_TYPE,BASECURVE,EURORETAILPRICE,RELEASEDATE,PROTOTYPECODE,GENDER,FRAMECONSTRUCTION,SUNOPTICAL,SIZES,FIT,...,metal frame glasses_x,Nike frames_x,Glasses_3m_avg_y,Sunglasses_3m_avg_y,acetate frame glasses_y,Calvin Klein frames_y,FSA glasses_y,Lacoste frames_y,metal frame glasses_y,Nike frames_y
0,Sun,2,"190,00",CALVIN KLEIN - SEP 2024,E11397D1,F,Full,Sun,53-17-145,GLOBAL,...,39,67,46.0,19.0,20,75,35,67,39,67
1,Sun,2,"190,00",CALVIN KLEIN - SEP 2024,E11397D1,F,Full,Sun,53-17-145,GLOBAL,...,39,67,46.0,19.0,20,75,35,67,39,67
2,Sun,2,"190,00",CALVIN KLEIN - SEP 2024,E11397D1,F,Full,Sun,53-17-145,GLOBAL,...,39,67,46.0,19.0,20,75,35,67,39,67
3,Sun,2,"190,00",CALVIN KLEIN - SEP 2024,E11397D1,F,Full,Sun,53-17-145,GLOBAL,...,39,67,46.0,19.0,20,75,35,67,39,67
4,Sun,2,"190,00",CALVIN KLEIN - SEP 2024,E11397A1,U,Full,Sun,55-18-145,GLOBAL,...,39,67,46.0,19.0,20,75,35,67,39,67

In [29]:
products.shape

(316, 46)

In [31]:
products.to_csv('final_products.csv')